<div class="h-screen flex items-center justify-center bg-gray-100 coverparentspace">
  <div class="max-w-md w-full">
    <div *ngIf="!showNewPasswordForm">
      <!-- Paso 1: Ingresar correo electrónico o número de cuenta -->
      <div class="border-none md:border border-gray-300 px-4 py-3 mb-8 bg-white rounded-lg shadow-none md:shadow-md">
        <h2 class="my-3 text-center text-3xl font-extrabold text-gray-900">Restablecer Contraseña</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="sendOtp()">
          <!-- Mostrar entrada para OTP si se envía correctamente -->
          <ng-container *ngIf="!otpSentSuccessfully; else otpInputSection">
            <div class="mb-4">
              <label for="identifier" class="block text-sm font-bold mb-2">Correo Electrónico o Número de Cuenta:</label>
              <input formControlName="identifier" type="text" id="identifier"
                class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
              <div *ngIf="resetPasswordForm.get('identifier')?.invalid && resetPasswordForm.get('identifier')?.touched"
                class="text-red-500 text-sm mt-1">
                El correo electrónico o número de cuenta es obligatorio.
              </div>
            </div>
            <div class="flex items-center justify-between">
              <button type="submit" [disabled]="resetPasswordForm.invalid"
                class="group relative w-full flex justify-center py-2 px-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">Enviar OTP</button>
            </div>
          </ng-container>

          <!-- Sección de entrada para OTP -->
          <ng-template #otpInputSection>
            <div class="mb-4">
              <label for="otp" class="block text-sm font-bold mb-2">Ingresar OTP:</label>
              <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
              <input formControlName="otp" type="hidden" id="otp" [value]="resetPasswordForm.get('otp')?.value">
            </div>
            <div class="flex items-center justify-between">
              <button type="button" (click)="verifyOtp()"
                class="group relative w-full flex justify-center py-2 px-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">Verificar OTP</button>
            </div>
          </ng-template>
        </form>
        <a class="block mt-4 font-semibold leading-6 text-indigo-600 hover:text-indigo-500" routerLink="/login">Volver a Inicio de Sesión</a>
      </div>
    </div>

    <div *ngIf="showNewPasswordForm">
      <!-- Paso 3: Ingresar nueva contraseña -->
      <div class="border-none md:border border-gray-300 px-4 py-3 mb-8 bg-white rounded-lg shadow-none md:shadow-md">
        <h2 class="my-3 text-center text-3xl font-extrabold text-gray-900">Restablecer Contraseña</h2>
        <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
          <div class="mb-4">
            <label for="newPassword" class="block text-sm font-bold mb-2">Nueva Contraseña:</label>
            <input formControlName="newPassword" type="password" id="newPassword"
              class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="newPasswordForm.get('newPassword')?.invalid && newPasswordForm.get('newPassword')?.touched"
              class="text-red-500 text-sm mt-1">
              La nueva contraseña es obligatoria.
            </div>
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="block text-sm font-bold mb-2">Confirmar Contraseña:</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword"
              class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
              
              <div *ngIf="newPasswordForm.get('confirmPassword')?.invalid && newPasswordForm.get('confirmPassword')?.touched"
              class="text-red-500 text-sm mt-1">
              La confirmación de la contraseña es obligatoria y debe coincidir con la nueva contraseña.
            </div>

            <div
            *ngIf="f.newPassword.invalid && f.newPassword.touched"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="f.newPassword.errors?.required">
              La contraseña es obligatoria.
            </div>
            <div *ngIf="f.newPassword.errors?.minlength">
              La contraseña debe tener al menos 8 caracteres.
            </div>
            <div *ngIf="f.newPassword.errors?.maxlength">
              La contraseña no debe exceder los 127 caracteres.
            </div>
          </div>
          
          </div>
          <div class="flex items-center justify-between">
            <button type="submit" [disabled]="newPasswordForm.invalid"
              class="group relative w-full flex justify-center py-2 px-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">Restablecer Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
